<div class="grid">
    <div class="col-12">
        <img
            src="assets/layout/images/image_cepre.png"
            alt="Imagen CEPRE UNAJ"
            class="w-full"
        />
    </div>

    <div class="col-6">
        <p-button
            label="Configuraciones"
            [routerLink]="['/lot/setting']"
            [outlined]="true"
        />
    </div>
    <div class="col-6">
        <p-button
            label="Administrar sorteo"
            [routerLink]="['/lot/lot-managment']"
            [outlined]="true"
        />
    </div>
</div>
