<div class="grid">
    <div class="col-12">
        <div class="card">
            <!--            TODO: test reset page when sort-->
            <!--            resetPageOnSort="false"-->

            <!--             p-datatable-striped p-datatable-gridlines-->

            <form [formGroup]="formGroup">
                <div class="grud formgrid p-fluid">
                    <div class="field col-12 p-0 mb-1">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                type="text"
                                pInputText
                                autofocus
                                class="p-inputtext-sm"
                                formControlName="filter"
                                placeholder="Buscar por razon social"
                            />
                        </span>
                    </div>
                </div>
            </form>

            <p-table
                [value]="data.items"
                [lazy]="true"
                (onLazyLoad)="loadCustomers($event)"
                [paginator]="true"
                [rows]="pageSize"
                [totalRecords]="data.totalCount"
                [loading]="loading"
                styleClass="p-datatable-sm"
                resizableColumns="true"
                responsiveLayout="stack"
                [breakpoint]="'960px'"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="caption"></ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            # <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="razonSocial" style="width: 20%">
                            NOMBRE O RAZÓN SOCIAL<p-sortIcon
                                field="razonSocial"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="estadoContribuyente">
                            ESTADO DEL CONTRIBUYENTE<p-sortIcon
                                field="estadoContribuyente"
                            ></p-sortIcon>
                        </th>
                        <th pSortableColumn="condicionDomicilio">
                            CONDICIÓN DE DOMICILIO<p-sortIcon
                                field="condicionDomicilio"
                            ></p-sortIcon>
                        </th>

                        <th pSortableColumn="ubigeo">
                            UBIGEO<p-sortIcon field="ubigeo"></p-sortIcon>
                        </th>
                        <th>TIPO DE VÍA</th>
                        <th>NOMBRE DE VÍA</th>
                        <th>CÓDIGO DE ZONA</th>

                        <th>TIPO DE ZONA</th>
                        <th>NÚMERO</th>
                        <th>INTERIOR</th>
                        <th>LOTE</th>

                        <th>DEPARTAMENTO</th>
                        <th>MANZANA</th>
                        <th>KILÓMETRO</th>
                        <th>COMENTARIO</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.razonSocial }}</td>
                        <td>{{ customer.estadoContribuyente }}</td>
                        <td>{{ customer.condicionDomicilio }}</td>

                        <td>{{ customer.ubigeo }}</td>
                        <td>{{ customer.tipoVia }}</td>
                        <td>{{ customer.nombreVia }}</td>
                        <td>{{ customer.codigoZona }}</td>

                        <td>{{ customer.tipoZona }}</td>
                        <td>{{ customer.numero }}</td>
                        <td>{{ customer.interior }}</td>
                        <td>{{ customer.lote }}</td>

                        <td>{{ customer.departamento }}</td>
                        <td>{{ customer.manzana }}</td>
                        <td>{{ customer.kilometro }}</td>
                        <td>{{ customer.comentario }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
