<div class="surface-card p-3 shadow-1 border-round">
    <div
        class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
    >
        <div>
            <div class="font-medium text-3xl text-700">
                Docentes registrados
            </div>
        </div>
        <div class="mt-3 lg:mt-0">
            <!-- load in screen... foe;e se;ected data.... -->
            <!-- <button
                pButton
                icon="pi pi-upload"
                pRipple
                label="Importar de excel"
                class="p-button-outlined"
            ></button> -->

            <!-- <button
                pButton
                (click)="downloadTemplateFile()"
                pRipple
                icon="pi pi-download"
                label="Descargar plantilla excel"
                class="p-button-outlined mr-2"
            ></button> -->
            <button
                pButton
                pRipple
                label="Registrar docente"
                icon="pi pi-plus"
                (click)="createModal()"
                class="p-button-outlined mr-2"
            ></button>
        </div>
    </div>

    <form [formGroup]="formFilter" class="grid formgrid p-fluid">
        <div class="field col-12">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    type="text"
                    pInputText
                    autofocus
                    class="p-inputtext-sm"
                    formControlName="filter"
                    placeholder="Buscar por nombre"
                />
            </span>
        </div>
    </form>

    <p-table
        [lazy]="true"
        [value]="data.items"
        (onLazyLoad)="tableLazyLoad($event)"
        [totalRecords]="data.totalCount"
        [paginator]="true"
        [rows]="this.tableFilterModel.maxResultCount"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>DNI</th>
                <th>Apellidos y nombres</th>
                <th>Genero</th>
                <th>Grado</th>
                <th>Area</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    {{ item.dni }}
                </td>
                <td>
                    {{
                        item.gradoPrefix +
                            " " +
                            item.nombre +
                            " " +
                            item.apellidoPaterno +
                            " " +
                            item.apellidoMaterno
                    }}
                </td>
                <td>
                    {{ item.genero | appGender }}
                </td>
                <td>
                    {{ item.gradoName }}
                </td>
                <td>
                    {{ item.area | appArea }}
                </td>
                <td class="p-1">
                    <div class="flex">
                        <p-button
                            icon="pi pi-pencil"
                            severity="warning"
                            class=""
                            [outlined]="true"
                            (onClick)="editModal(item.id)"
                        ></p-button>
                        <p-button
                            icon="pi pi-trash"
                            severity="danger"
                            class="ml-2"
                            [outlined]="true"
                            (onClick)="delete(item.id)"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="isModalOpen"
    [style]="{ width: '600px' }"
    [header]="titleModal"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form
            class="grid formgrid p-fluid"
            [formGroup]="formGroup"
            id="formRegisterUpdate"
            (ngSubmit)="save()"
        >
            <div class="field col-12">
                <label class="font-medium text-700">DNI</label>
                <p-inputNumber
                    class="p-inputtext-sm"
                    mode="decimal"
                    maxlength="8"
                    [useGrouping]="false"
                    formControlName="dni"
                />
            </div>
            <div class="field col-12">
                <label class="font-medium text-700">Nombres</label>
                <input
                    type="text"
                    pInputText
                    class="p-inputtext-sm"
                    formControlName="nombre"
                />
            </div>
            <div class="field col-6">
                <label class="font-medium text-700"
                    >Apellido paterno</label
                >
                <input
                    type="text"
                    pInputText
                    class="p-inputtext-sm"
                    formControlName="apellidoPaterno"
                />
            </div>
            <div class="field col-6">
                <label class="font-medium text-700">Apellido materno</label>
                <input
                    type="text"
                    pInputText
                    class="p-inputtext-sm"
                    formControlName="apellidoMaterno"
                />
            </div>
            <div class="field col-12">
                <label class="font-medium text-700">Grado</label>
                <p-dropdown
                    formControlName="gradoId"
                    [options]="grados"
                    optionLabel="displayName"
                    optionValue="id"
                    placeholder="Selecione un grado"
                />
            </div>

            <div class="field col-12">
                <label class="font-medium text-700">Genero</label>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton formControlName="genero" value="0" />
                        <label class="ml-2"> Desconocido </label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton formControlName="genero" value="2" />
                        <label class="ml-2"> Femenino </label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton formControlName="genero" value="1" />
                        <label class="ml-2"> Masculino </label>
                    </div>
                </div>
            </div>

            <!-- Unknow = 0,
            Male = 1,
            Female = 2, -->

            <div class="field col-12 mb-4">
                <label class="font-medium text-700">Area</label>
                <div class="flex flex-wrap gap-3">
                    <!-- <div class="flex align-items-center">
                        <p-radioButton formControlName="area" value="0" />
                        <label class="ml-2"> Desconocido </label>
                    </div> -->
                    <!-- <div class="flex align-items-center">
                        <p-radioButton formControlName="area" value="1" />
                        <label class="ml-2"> Biomedicas </label>
                    </div> -->
                    <div class="flex align-items-center">
                        <p-radioButton formControlName="area" value="2" />
                        <label class="ml-2"> Sociales </label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton formControlName="area" value="3" />
                        <label class="ml-2"> Ingenierías </label>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="isModalOpen = false"
        ></button>
<!--        TODO: add call to submit method of form-->
        <button
            pButton
            pRipple
            form="formRegisterUpdate"
            [type]="'submit'"
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
        ></button>
    </ng-template>
</p-dialog>
