<div
    class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
>
    <div>
        <div class="font-medium text-3xl text-900">Sorteo para {{comisionWithRoles.nombre}}</div>
    </div>
    <div class="mt-3 lg:mt-0">
        <button
            pButton
            pRipple
            icon="pi pi-plus"
            label="Agregar participante"
            (click)="showModal()"
            class="p-button-outlined mr-2"
        ></button>
    </div>
</div>

<!--add modal for load docentes-->

<div class="grid">
    <div class="col-6">
        <div class="surface-card p-3 shadow-3 border-round">
            <h4 class="text-700 mb-0 text-center">Pendientes</h4>
            <p-table
                lazy="false"
                [value]="faltantes"
                styleClass="p-datatable-sm"
                scrollHeight="250px"
                [tableStyle]="{ 'min-width': '20rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Apellidos y nombres</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{ item.fullName }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-6">
        <div class="surface-card p-3 shadow-3 border-round">
            <h4 class="text-700 mb-0 text-center">Sorteados</h4>
            <p-table
                lazy="false"
                scrollHeight="250px"
                [value]="sorteados"
                styleClass="p-datatable-sm"
                [tableStyle]="{ 'min-width': '20rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Apellidos y nombres</th>
                        <th>Rol</th>
                        <th>#</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{ item.fullName }}
                        </td>
                        <td>
                            {{ item.rolName }}
                        </td>
                        <td>
                            <a class="pointer-cursor" (click)="this.removeResultFromLot(item.id)">Remover</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12">
        <div class="surface-card p-3 shadow-3 border-round">
            <form class="grid formgrid p-fluid" [formGroup]="formLot">
                <div class="field col-12">
                    <label class="font-medium text-700">Rol</label>
                    <p-dropdown
                        [options]="roles"
                        optionLabel="displayName"
                        formControlName="rol"
                        placeholder="Selecione el rol a sortear" />
                </div>
            </form>

            <div class="flex align-items-center flex-column">
                <button pButton (click)="startLot()">
                    Inciar selecion aleatoria
                </button>
            </div>

            <div
                id="tags"
                class="container-tags border-solid border-1 border-primary-500 border-round"
            >
                <span
                    *ngFor="let item of faltantes; let i = index"
                    [attr.data-id]="item.id"
                    [attr.data-display-name]="item.fullName"
                    class="tag"
                >
                    {{ item.fullName }}
                </span>
            </div>
        </div>
    </div>
</div>



<p-dialog
    [(visible)]="modalIntegrantes"
    [style]="{ width: '600px' }"
    header="Agregar participante"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
<!--        <form-->
<!--            class="grid formgrid p-fluid"-->
<!--            [formGroup]="formRol"-->
<!--            (ngSubmit)="saveFormRole()"-->
<!--        >-->
<!--            <div class="field col-12">-->
<!--                <label class="font-medium text-700">Nombre de rol *</label>-->
<!--                <input-->
<!--                    class="p-inputtext-sm"-->
<!--                    pInputText-->
<!--                    type="text"-->
<!--                    formControlName="nombre"-->
<!--                />-->
<!--            </div>-->
<!--        </form>-->

        <p-table [value]="docentesForModal" [tableStyle]="{ 'min-width': '20rem' }"
                 [(selection)]="selectedDocnentes"
                 dataKey="id"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>Nombres</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-docente>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="docente" />
                    </td>
                    <td>{{ docente.fullName }}</td>
                </tr>
            </ng-template>
        </p-table>

    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="modalIntegrantes = false"
        ></button>
<!--        validate if some  is selected-->
        <button
            pButton
            pRipple
            (click)="saveIntegrantes()"
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
        ></button>
    </ng-template>
</p-dialog>
