<div class="surface-card p-3 shadow-1 border-round">
    <div
        class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
    >
        <div>
            <div class="font-medium text-3xl text-700">Registro docentes</div>
        </div>
        <div class="mt-3 lg:mt-0">
            <!-- <button
                pButton
                pRipple
                (click)="createModal()"
                label="Agregar"
                icon="pi pi-plus"
                class="p-button-outlined"
            ></button> -->
        </div>
    </div>

    <!-- <form [formGroup]="formFilter" class="grid formgrid p-fluid">
        <div class="field col-12">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text"
                pInputText
                autofocus
                class="p-inputtext-sm"
                formControlName="filter"
                placeholder="Buscar">
            </span>
        </div>
    </form>
 -->

    <form
        class="grid formgrid p-fluid"
        [formGroup]="formGroup"
        (ngSubmit)="save()"
    >
        <!-- <p-inputNumber mode="decimal" [useGrouping]="false" /> -->

        <div class="field col-12">
            <label class="font-medium text-700">DNI</label>
            <p-inputNumber
                class="p-inputtext-sm"
                mode="decimal"
                maxlength="8"
                [useGrouping]="false"
                formControlName="dni"
            />
        </div>
        <div class="field col-12">
            <label class="font-medium text-700">Nombres</label>
            <input
                type="text"
                pInputText
                class="p-inputtext-sm"
                formControlName="nombre"
            />
        </div>
        <div class="field col-6">
            <label class="font-medium text-700" for="apellidoPaterno"
                >Apellido paterno</label
            >
            <input
                type="text"
                pInputText
                class="p-inputtext-sm"
                formControlName="apellidoPaterno"
            />
        </div>
        <div class="field col-6">
            <label class="font-medium text-700">Apellido materno</label>
            <input
                type="text"
                pInputText
                class="p-inputtext-sm"
                formControlName="apellidoMaterno"
            />
        </div>
        <div class="field col-12">
            <label class="font-medium text-700">Grado</label>
            <p-dropdown
                formControlName="gradoId"
                [options]="grados"
                optionLabel="displayName"
                optionValue="id"
                placeholder="Selecione su grado"
            />
        </div>

        <div class="field col-12">
            <label class="font-medium text-700">Genero</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center">
                    <p-radioButton formControlName="genero" value="0" />
                    <label class="ml-2"> Desconocido </label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton formControlName="genero" value="2" />
                    <label class="ml-2"> Femenino </label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton formControlName="genero" value="1" />
                    <label class="ml-2"> Masculino </label>
                </div>
            </div>
        </div>

        <!-- Unknow = 0,
        Male = 1,
        Female = 2, -->

        <!-- Desconocido = 0,
        Biomedicas = 1,
        Sociales = 2,
        Ingenierias = 3, -->

        <div class="field col-12 mb-4">
            <label class="font-medium text-700">Area</label>
            <div class="flex flex-wrap gap-3">
                <!-- <div class="flex align-items-center">
                    <p-radioButton formControlName="area" value="0" />
                    <label class="ml-2"> Desconocido </label>
                </div> -->
                <!-- <div class="flex align-items-center">
                    <p-radioButton formControlName="area" value="1" />
                    <label class="ml-2"> Biomedicas </label>
                </div> -->
                <div class="flex align-items-center">
                    <p-radioButton formControlName="area" value="2" />
                    <label class="ml-2"> Sociales </label>
                </div>
                <div class="flex align-items-center">
                    <p-radioButton formControlName="area" value="3" />
                    <label class="ml-2"> Ingenierías </label>
                </div>
            </div>
        </div>

        <!-- <div class="field-checkbox col-12">
            <p-checkbox
                formControlName="isDefault"
                binary="true"
                inputId="isDefault"
            ></p-checkbox>
            <label class="font-medium text-700 ml-2" for="isDefault"
                >Is default</label
            >
        </div>
        <div class="field-checkbox col-12 mb-0">
            <p-checkbox
                formControlName="isPublic"
                binary="true"
                inputId="isPublic"
            >
            </p-checkbox>
            <label class="font-medium text-700 ml-2" for="isPublic">
                Is public
            </label>
        </div> -->

        <!-- [disabled]="formGroup.invalid" -->

        <div class="field col-12">
            <p-button
                label="REGISTRAR"
                [disabled]="formGroup.invalid && bottonDisabled"
                [outlined]="true"
                (onClick)="save()"
            />
        </div>
    </form>
</div>
<br />
