<div
    class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
>
    <div>
        <div class="font-medium text-3xl text-700">Comisiones</div>
    </div>
    <div class="mt-3 lg:mt-0">
        <button
            pButton
            pRipple
            (click)="createComisionModal()"
            label="Registrar comisión"
            icon="pi pi-plus"
            class="p-button-outlined mr-2"
        ></button>
    </div>
</div>

<div class="grid">
    <div class="col-6" *ngFor="let item of comisiones">
        <div class="surface-card p-3 shadow-1 border-round">
            <div
                class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
            >
                <div>
                    <div class="font-medium text-2xl text-700">
                        {{ item.nombre }}
                    </div>
                </div>
                <div class="mt-3 lg:mt-0">
                    <button
                        pButton
                        pRipple
                        (click)="agregarRol(item.id)"
                        label="Agregar rol"
                        icon="pi pi-plus"
                        class="p-button-outlined mr-2"
                    ></button>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <p-table
                        lazy="false"
                        [value]="item.rols"
                        styleClass="p-datatable-gridlines"
                        scrollHeight="250px"
                        [tableStyle]="{ 'min-width': '20rem' }"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Roles</th>
                                <th>Opcion</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>
                                    {{ item.nombre }}
                                </td>
                                <td class="p-1">
                                    <!--                                    add remove rol-->
                                    <div class="flex">
                                        <button
                                            pButton
                                            pRipple
                                            label=""
                                            icon="pi pi-trash"
                                            class="p-button-outlined mr-2"
                                            (click)="removerRol(item.id)"
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <!--                TODO: add page for, lot, res ... -->
                <hr />
                <!--                TODO: mostrar la lista de roles y la lista de roles y las personas sorteadas-->
                <!--                // add or remove rol-->

                <div class="col-12 py-0">
                    <div class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            label=""
                            icon="pi pi-trash"
                            class="p-button-outlined mr-2"
                            (click)="removerComision(item.id)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            (click)="editComisionModal(item.id)"
                            label=""
                            class="p-button-outlined mr-2"
                        ></button>

                        <button
                            pButton
                            routerLink="/lot/process"
                            [queryParams]="{ comisionId: item.id }"
                            pRipple
                            icon="pi pi-fw pi-box"
                            label="Ver sorteo"
                            class="p-button-outlined mr-2"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<hr />-->

<!-- Improvement: add grid as responsive -->
<!--<div class="grid">-->
<!--    <div class="col-6" *ngFor="let item of comisiones">-->
<!--        <app-comision [comision]="item"></app-comision>-->
<!--    </div>-->
<!--</div>-->

<!-- modal para agregar y remover comisiones-->
<p-dialog
    [(visible)]="modalComision"
    [style]="{ width: '600px' }"
    [header]="modalComisionTitle"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form
            class="grid formgrid p-fluid"
            [formGroup]="formComision"
            id="formComisionCreateUpdate"
            (ngSubmit)="saveFormComision()"
        >
            <div class="field col-12">
                <label class="font-medium text-700">Nombre comisión *</label>
                <input
                    class="p-inputtext-sm"
                    pInputText
                    type="text"
                    formControlName="nombre"
                />
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="modalComision = false"
        ></button>
        <button
            pButton
            pRipple
            form="formComisionCreateUpdate"
            type="submit"
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog
    [(visible)]="modalRol"
    [style]="{ width: '600px' }"
    header="Agregar rol"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form
            class="grid formgrid p-fluid"
            [formGroup]="formRol"
            id="formRol"
            (ngSubmit)="saveFormRole()"
        >
            <div class="field col-12">
                <label class="font-medium text-700">Nombre de rol *</label>
                <input
                    class="p-inputtext-sm"
                    pInputText
                    type="text"
                    formControlName="nombre"
                />
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="modalRol = false"
        ></button>
        <button
            pButton
            pRipple
            form="formRol"
            type="submit"
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
        ></button>
    </ng-template>
</p-dialog>

<!--<p-dialog-->
<!--    [(visible)]="modalRol"-->
<!--    [style]="{ width: '600px' }"-->
<!--    header="Agregar rol"-->
<!--    [modal]="true"-->
<!--    [draggable]="false"-->
<!--    [resizable]="false"-->
<!--&gt;-->
<!--    <ng-template pTemplate="content">-->
<!--        <form-->
<!--            class="grid formgrid p-fluid"-->
<!--            [formGroup]="formRol"-->
<!--            (ngSubmit)="saveFormRole()"-->
<!--        >-->
<!--            <div class="field col-12">-->
<!--                <label class="font-medium text-700">Nombre de rol *</label>-->
<!--                <input-->
<!--                    class="p-inputtext-sm"-->
<!--                    pInputText-->
<!--                    type="text"-->
<!--                    formControlName="nombre"-->
<!--                />-->
<!--            </div>-->
<!--        </form>-->
<!--    </ng-template>-->

<!--    <ng-template pTemplate="footer">-->
<!--        <button-->
<!--            pButton-->
<!--            pRipple-->
<!--            label="Cancelar"-->
<!--            icon="pi pi-times"-->
<!--            class="p-button-text"-->
<!--            (click)="modalRol = false"-->
<!--        ></button>-->
<!--        <button-->
<!--            pButton-->
<!--            pRipple-->
<!--            label="Guardar"-->
<!--            icon="pi pi-check"-->
<!--            class="p-button-text"-->
<!--            (click)="saveFormRole()"-->
<!--        ></button>-->
<!--    </ng-template>-->
<!--</p-dialog>-->
