<div
    class="mb-3 flex align-items-start flex-column lg:justify-content-between lg:flex-row"
>
    <div>
        <div class="font-medium text-3xl text-700">Comisiones</div>
    </div>
    <div class="mt-3 lg:mt-0">
        <button
            pButton
            pRipple
            (click)="createComisionModal()"
            label="Registrar comisión"
            icon="pi pi-plus"
            class="p-button-outlined mr-2"
        ></button>
    </div>
</div>

<div class="grid">
    <div class="col-6" *ngFor="let item of comisiones.items">
        <div class="surface-card p-3 shadow-1 border-round">
            <div
                class="flex align-items-start flex-column lg:justify-content-between lg:flex-row"
            >
                <div>
                    <div class="font-medium text-3xl text-700">
                        {{ item.nombre }}
                    </div>
                </div>
                <div class="mt-3 lg:mt-0">
                    <button
                        pButton
                        pRipple
                        label="Remover"
                        icon="pi pi-trash"
                        class="p-button-outlined mr-2"
                        (click)="removerComision(item)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        (click)="editComisionModal(item.id)"
                        label="Editar"
                        class="p-button-outlined mr-2"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<!-- Improvement: add grid as responsive -->
<div class="grid">
    <div class="col-6" *ngFor="let item of comisiones.items">
        <app-comision [comision]="item"></app-comision>
    </div>
</div>

<!-- TODO: add code  for add and remove comisions -->

<p-dialog
    [(visible)]="modalComision"
    [style]="{ width: '600px' }"
    header="Registrar nueva comisión"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form
            class="grid formgrid p-fluid"
            [formGroup]="formComision"
            (ngSubmit)="saveFormComision()"
        >
            <div class="field col-12">
                <label class="font-medium text-700">Nombre comisión *</label>
                <input
                    class="p-inputtext-sm"
                    pInputText
                    type="text"
                    formControlName="nombre"
                />
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="modalComision = false"
        ></button>
        <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveFormComision()"
        ></button>
    </ng-template>
</p-dialog>
