<div class="grid">
    <div class="col-12">
        <p-card role="region">
            <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center justify-content-center m-2">
                    <h5>Productos</h5>
                </div>
                <div class="flex align-items-center justify-content-center m-2">
                    <p-button size="small" (click)="registrarNuevo()"
                        >Registrar producto
                    </p-button>
                </div>
            </div>
            <p-table
                [value]="data.items"
                styleClass="p-datatable-gridlines"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[5, 10, 20, 100, 500, 1000]"
                (onPage)="pageChange($event)"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Observacion</th>
                        <th>Stock</th>
                        <th>Expira</th>
                        <th>Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.codigo }}</td>
                        <td>{{ product.nombre }}</td>
                        <td>{{ product.precio | currency : "S/ " }}</td>
                        <td>{{ product.descripcion }}</td>
                        <td>{{ product.observacion }}</td>
                        <td>{{ product.cantidadStock }}</td>
                        <td>{{ product.expires }}</td>
                        <td style="padding: 0px 4px">
                            <div class="flex">
                                <p-button
                                    outlined="true"
                                    icon="pi pi-trash"
                                    size="small"
                                    class="mr-2"
                                    severity="warning"
                                    (click)="deleteProduct(product)"
                                ></p-button>
                                <p-button
                                    outlined="true"
                                    icon="pi pi-pencil"
                                    size="small"
                                    severity="success"
                                    (click)="editProduct(product)"
                                ></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
</div>

<p-dialog
    [(visible)]="isModalOpen"
    [style]="{ width: '600px' }"
    header="Registrar nuevo producto"
    [modal]="true"
    class="p-fluid"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form [formGroup]="form">
            <div class="field">
                <label>Nombre</label>
                <!--            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"-->
                <input
                    type="text"
                    pInputText
                    autofocus
                    formControlName="nombre"
                />
                <!--            <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
            </div>
            <div class="field">
                <label>Codigo</label>
                <input type="text" pInputText formControlName="codigo" />
            </div>
            <div class="field">
                <label>Precio</label>
                <p-inputNumber
                    [showButtons]="true"
                    formControlName="precio"
                    inputId="currency-pe"
                    mode="currency"
                    currency="PEN"
                    locale="es-PE"
                >
                </p-inputNumber>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea
                    pInputTextarea
                    formControlName="descripcion"
                    rows="3"
                    cols="20"
                ></textarea>
            </div>
            <div class="field">
                <label>Observacion</label>
                <textarea
                    pInputTextarea
                    formControlName="observacion"
                    rows="3"
                    cols="20"
                ></textarea>
            </div>
            <div class="field">
                <label>Stock</label>
                <p-inputNumber formControlName="cantidadStock" />
            </div>
            <div class="field">
                <label>Expira</label>
                <p-calendar
                    [showButtonBar]="true"
                    formControlName="expires"
                ></p-calendar>
            </div>
        </form>
    </ng-template>

    <!--    [disabled]="form.invalid"-->

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="isModalOpen = false"
        ></button>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            (click)="save()"
        ></button>
    </ng-template>
</p-dialog>

<!--&lt;!&ndash;            TODO: revisar como esta el ejemplo de crud y replicarlo&ndash;&gt;-->
<!--&lt;!&ndash;            TODO: usar como referencia el otro crud y adaptarlo para que use abp&ndash;&gt;-->
